.login {
  padding: 10vh 0;
}

.me {
  background-color: #3a7172;
}

.you {
  background-color: #ff614d;
}

.names {
  height: 50px;
}

.words {
  padding: 10vh 0;
  min-height: 250px;
  background-color: gray;
}

